@{
    ViewData["Title"] = "SPZC Playground";
}


<div class="jumbotron">
    <h2 style="font-weight:bold;">NOMAD MTD</h2>
    <p class="lead">This is a testing playground for NOMAD-like form-injector spam bot prevention system. Below is a sample form with MTD style form entries to prevent bots from locating ids.</p>

    <form method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="@ViewBag.fnameID" name="@ViewBag.fnameID"><br><div style="color:#888888;">Current id: @ViewBag.fnameID</div>
        <label for="lname">Last name:</label><br>
        <input type="text" id="@ViewBag.lnameID" name="@ViewBag.lnameID"><br><div style="color:#888888;">Current id: @ViewBag.lnameID</div>
        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
    </form>

    <p style="color:#888888;">Submitted values: @ViewBag.SubmittedValue </br>@ViewBag.Message</p>

</div>